/* @media(min-width: 1000px) {
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        font-size: 4rem;
        font-weight: bold;
        padding-top: 10px;
        /* animation: yourAnimation 30s infinite  30s ease; */
        /* animation: yourAnimation 5s forwards 0s linear; */
        /* animation: yourAnimation .7s forwards 0s ease; */
    /* } */
/* MAKES H1 SPIN */

/* 
    @keyframes yourAnimation{
        0%{
            }
        4%{
            transform: rotate(0deg) scale(1.8) translateY(-10%) skewX(0);
            opacity: 1;
            }
        30%{
            transform: rotate(0deg) scale(1.8);
            }
        50%{
            transform: rotate(0deg);
            }
        57%{
            transform: rotate(180deg);
            }
        97%{
            transform: rotate(0deg) scale(1.8) translateY(-15%) skewX(0);
            }
        100%{
            transform: rotate(380deg);
            }
    } */
    /* MAKES H1 FADE IN */
    /* @keyframes yourAnimation{
        0%{
            transform: rotate(0) scale(1.8) translateY(-15%) skewX(0p) skewY(-25deg);
            opacity: 0;
            }
        50%{
            transform: rotate(0) scale(1.8) translateY(10);
            opacity: 1;
            }
        100%{
            transform: rotate(0) scale(1.8);
            opacity: 1;
            }
    }
    
    h2 {
        margin: 5px 0;
        font-size: 2.0rem;
    }

    p {
        margin: 5px 0;
        font-style: italic;
        font-size: 1rem;
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1200px;
        width: 100%;
        margin: 5% auto;
    }

    .person {
        text-align: center;
        border-radius: 15px;
        width: 30%;
        margin: 3%;
    }

    .picture {
        width: 90%;
        height: 300px;
        border-radius: 15px;
    }

    .role {
        margin: 5px 0;
        font-size: 1.5rem;
    }

    .linkedIn {
        max-width: 55px;
        margin: 0 3px;
    }

    .gitHub {
        max-width: 55px;
        margin: 0 3px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DB7C1E;
        width: 100%;
        height: 70px;
    }
}

@media(max-width: 999px) {
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        font-size: 3rem;
        font-weight: bold;
        padding-top: 10px;
    }

    h2 {
        margin: 5px 0;
        font-size: 1.5rem;
    }

    p {
        margin: 5px 0;
        font-style: italic;
        font-size: 1rem;
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1200px;
        width: 100%;
        margin: 5% auto;
    }

    .person {
        text-align: center;
        border-radius: 15px;
        width: 30%;
        margin: 3%;
    }

    .picture {
        width: 90%;
        height: auto;
        border-radius: 15px;
    }

    .role {
        margin: 5px 0;
        font-size: 1.5rem;
    }

    .linkedIn {
        max-width: 55px;
        margin: 0 3px;
    }

    .gitHub {
        max-width: 55px;
        margin: 0 3px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DB7C1E;
        width: 100%;
        height: 70px;
    }
}

@media(max-width: 500px) {
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        font-size: 3rem;
        font-weight: bold;
        padding-top: 10px;
    }

    h2 {
        font-size: 2.0rem;
        font-weight: bold;
    }

    p {
        margin: 5px 0;
        font-style: italic;
        font-size: 1rem;
    }

    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1200px;
        width: 100%;
        margin: 5% auto;
    }

    .person {
        border-radius: 15px;
        width: 55%;
        text-align: center;
        border-radius: 15px;
        width: 40%;
        margin: 3%;
    }

    .picture {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    .role {
        margin: 5px 0;
        font-size: 1.5rem;
    }

    .linkedIn {
        max-width: 55px;
        margin: 0 3px;
    }

    .gitHub {
        max-width: 55px;
        margin: 0 3px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DB7C1E;
        width: 100%;
        height: 70px;
    }
} */ 