
.second {
	color: white;
    vertical-align: center;
    margin: auto 0;
}

footer {
    width: 100%;
    height: 70px;
    text-align: center;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
div{
   
    position: relative;
    z-index: 2;
}

.mainContent {
    z-index: 15;
}

div .imgBg{
    
    height: 100vh;
    left: 0; 
    margin: 0; 
    padding: 0; 
    position: absolute; 
    top: 0; 
    width: 100vw;
    z-index: 10;
    border: 2px solid black;
    background: linear-gradient(172.46deg, rgba(14, 11, 32, 0.86) 14.75%, rgba(14, 11, 32, 0) 25.05%) , linear-gradient(348.72deg, rgba(239, 1, 159, 0) 14.02%, rgba(14, 11, 32, 0.7) 74.08%), url('../img/topBackgroundImg.jpeg'), no-repeat center;
    
    background-size: cover; 
div .imgBg img{
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url('../img/topBackgroundImg.jpeg');
    z-index: 9;
    }
}
h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 6.1rem;
}
h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 4.5rem;
    
    
}
.topCon{
    //border: solid 8px blue;
    display: flex;
    max-width:100%;
    padding-top: 3%;
    


  
   
#symph{
   // border: solid 8px red;
    width: 29vw;
    height: 10vh;
    margin-left: 7vw;
    margin-bottom: 4vh;
}
#listen{
    //border: solid 8px hotpink;
    color: #ffffff;
    margin-left: 7vw;
    margin-bottom: 5.5vh;
    position: relative;
    
    
}
#discov{
    //border: solid 8px green;
    color: #ffffff;
    margin-left: 7vw;
    margin-bottom: 5%;
}

#getStarted{
    //border:  solid 8px red;
    background: white;
    vertical-align: top;
    margin-bottom: 5%;
    margin-left: 50vw;
    padding: 18px 45px;
    letter-spacing: .3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 3.0rem;
    font-style: normal;
    color: rgba(255, 255, 255, 0.9);
    background: radial-gradient(140.21% 237.58% at 78.43% 139.84%, rgba(239, 1, 159, 0.75) 0%, rgba(239, 1, 159, 0) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 20!important;

 }
//topcon
}


@media(max-width: 500px) {
    // body {
    //     background-color: #631287;
    // }
	.one {
		position: absolute;
		width: 151px;
		height: 299px;
		left: 50px;
		top: 806px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		#images {
			margin-top: 220px;
			margin-left: 5%;
		}
		h3 {
			position: absolute;
			width: 64px;
			height: 40px;
			left: 30%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 86px;
			height: 111px;
			left: 20%;
			top: 90px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 12px;
			text-align: center;
			color: #FFFFFF;
		}
		vector {
			position: absolute;
			left: 14.98%;
			right: 78.74%;
			top: 31.23%;
			bottom: 68.22%;
			background: #FFFFFF;
			mix-blend-mode: normal;
		}
		arrow1 {
			position: absolute;
			left: 14.98%;
			right: 78.74%;
			top: 31.23%;
			bottom: 68.22%;
			background: #FFFFFF;
			mix-blend-mode: normal;
		}
		vector2 {
			position: absolute;
			left: 34.06%;
			right: 54.83%;
			top: 31.29%;
			bottom: 68.37%;
			background: #FFFCFC;
			mix-blend-mode: normal;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
		vector3 {
			position: absolute;
			left: 54.9%;
			right: 36.58%;
			top: 30.18%;
			bottom: 6.18%;
			background: #FFFFFF;
		}
		arrow2 {
			position: absolute;
			width: 45.01px;
			height: 0px;
			left: 146.01px;
			top: 1076px;
			border: 1px solid #FFFFFF;
			box-sizing: border-box;
			transform: matrix(-1, 0, 0, 1, 0, 0);
		}
		vector4 {
			position: absolute;
			left: 36.23%;
			right: 54.11%;
			top: 32.54%;
			bottom: 67%;
			background: #FFF2F2;
			mix-blend-mode: normal;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
	.two {
		position: absolute;
		width: 151px;
		height: 299px;
		left: 218px;
		top: 806px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		h3 {
			position: absolute;
			width: 68px;
			height: 40px;
			left: 30%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 86px;
			height: 111px;
			left: 20%;
			top: 130px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 12px;
			text-align: center;
			color: #FFFFFF;
		}
	}
	.three {
		position: absolute;
		width: 149px;
		height: 232px;
		left: 52px;
		top: 1160px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		h3 {
			position: absolute;
			width: 86px;
			height: 40px;
			left: 20%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 88px;
			height: 190px;
			left: 20%;
			top: 50px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 12px;
			text-align: center;
			color: #FFFFFF;
		}
	}
	.four {
		position: absolute;
		width: 151px;
		height: 232px;
		left: 218px;
		top: 1160px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		h3 {
			position: absolute;
			width: 84px;
			height: 40px;
			left: 20%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 84px;
			height: 147px;
			left: 20%;
			top: 50px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 12px;
			text-align: center;
			color: #FFFFFF;
		}
	}
}

@media screen and (min-width: 501px) {
    // body {
    //     background-color: #631287;
    // }
	.one {
		position: absolute;
		width: 404px;
		height: 339px;
		left: 100px;
		top: 957px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		#images {
			margin-top: 240px;
			margin-left: 35%;
		}
		h3 {
			position: absolute;
			width: 236px;
			height: 40px;
			left: 20%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 240px;
			height: 136px;
			left: 20%;
			top: 100px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
		}
		vector {
			position: absolute;
			left: 15.62%;
			right: 77.34%;
			top: 35.83%;
			bottom: 62.77%;
			background: #FFFFFF;
			mix-blend-mode: normal;
		}
		arrow1 {
			position: absolute;
			width: 45.01px;
			height: 0px;
			left: 255px;
			top: 1202px;
			border: 1px solid #FFFFFF;
			box-sizing: border-box;
		}
		vector2 {
			position: absolute;
			left: 30.66%;
			right: 56.35%;
			top: 36.01%;
			bottom: 63.01%;
			background: #FFFCFC;
			mix-blend-mode: normal;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
		vector3 {
			position: absolute;
			left: 35.05%;
			right: 54.64%;
			top: 7.05%;
			bottom: 7.21%;
			background: #FFFFFF;
		}
		arrow2 {
			position: absolute;
			width: 45.01px;
			height: 0px;
			left: 300.01px;
			top: 1259px;
			border: 1px solid #FFFFFF;
			box-sizing: border-box;
			transform: matrix(-1, 0, 0, 1, 0, 0);
		}
		vector4 {
			position: absolute;
			left: 30.37%;
			right: 56.25%;
			top: 37.63%;
			bottom: 61.18%;
			background: #FFF2F2;
			mix-blend-mode: normal;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
	.two {
		position: absolute;
		width: 404px;
		height: 339px;
		left: 520px;
		top: 957px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		h3 {
			position: absolute;
			width: 236px;
			height: 98px;
			left: 20%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 240px;
			height: 187px;
			left: 20%;
			top: 120px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			color: #FFFFFF;
		}
	}
	.three {
		position: absolute;
		width: 404px;
		height: 339px;
		left: 100px;
		top: 1311px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		h3 {
			position: absolute;
			width: 236px;
			height: 40px;
			left: 20%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 240px;
			height: 190px;
			left: 20%;
			top: 60px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			color: #FFFFFF;
		}
	}
	.four {
		position: absolute;
		width: 404px;
		height: 339px;
		left: 520px;
		top: 1311px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		h3 {
			position: absolute;
			width: 236px;
			height: 40px;
			left: 20%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 240px;
			height: 190px;
			left: 20%;
			top: 80px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			color: #FFFFFF;
		}
	}
}

@media screen and (min-width: 1000px) {
    // body {
    //     background-color: #631287;
    // }
    
	.one {
		position: absolute;
		width: 404px;
		height: 339px;
		left: 100px;
		top: 957px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		#images {
			margin-top: 240px;
			margin-left: 35%;
		}
		h3 {
			position: absolute;
			width: 236px;
			height: 40px;
			left: 20%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 240px;
			height: 136px;
			left: 20%;
			top: 100px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
		}
		vector {
			position: absolute;
			left: 15.62%;
			right: 77.34%;
			top: 35.83%;
			bottom: 62.77%;
			background: #FFFFFF;
			mix-blend-mode: normal;
		}
		arrow1 {
			position: absolute;
			width: 45.01px;
			height: 0px;
			left: 255px;
			top: 1202px;
			border: 1px solid #FFFFFF;
			box-sizing: border-box;
		}
		vector2 {
			position: absolute;
			left: 30.66%;
			right: 56.35%;
			top: 36.01%;
			bottom: 63.01%;
			background: #FFFCFC;
			mix-blend-mode: normal;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
		vector3 {
			position: absolute;
			left: 35.05%;
			right: 54.64%;
			top: 7.05%;
			bottom: 7.21%;
			background: #FFFFFF;
		}
		arrow2 {
			position: absolute;
			width: 45.01px;
			height: 0px;
			left: 300.01px;
			top: 1259px;
			border: 1px solid #FFFFFF;
			box-sizing: border-box;
			transform: matrix(-1, 0, 0, 1, 0, 0);
		}
		vector4 {
			position: absolute;
			left: 30.37%;
			right: 56.25%;
			top: 37.63%;
			bottom: 61.18%;
			background: #FFF2F2;
			mix-blend-mode: normal;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
	.two {
		position: absolute;
		width: 404px;
		height: 339px;
		left: 520px;
		top: 957px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		h3 {
			position: absolute;
			width: 236px;
			height: 98px;
			left: 20%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 240px;
			height: 187px;
			left: 20%;
			top: 120px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			color: #FFFFFF;
		}
	}
	.three {
		position: absolute;
		width: 404px;
		height: 339px;
		left: 100px;
		top: 1311px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		h3 {
			position: absolute;
			width: 236px;
			height: 40px;
			left: 20%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 240px;
			height: 190px;
			left: 20%;
			top: 60px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			color: #FFFFFF;
		}
	}
	.four {
		position: absolute;
		width: 404px;
		height: 339px;
		left: 520px;
		top: 1311px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
		h3 {
			position: absolute;
			width: 236px;
			height: 40px;
			left: 20%;
			font-family: Abril Fatface;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			color: #FFFFFF;
		}
		p {
			position: absolute;
			width: 240px;
			height: 190px;
			left: 20%;
			top: 80px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			color: #FFFFFF;
		}
	}
}
